<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Ecom!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body background ="<%= static_path(@conn, "/images/bg.jpg") %>">
    <!-- <img src="<%= static_path(@conn, "/images/bg.jpg") %>"/> -->


    <div class="container">




      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="/products">View Products</a></li>
            <li><a href="/view_cart">View Cart</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>

          </ul>
        </nav>


        <a href="/"><span class="logo"></span></a>

        <!-- <span class="bg"></span> -->

      </header>




      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
